## 17 Feb Mango DB

# Create the link in MangoDB for URL. using Atlas

# pymongo will give error bcz its not available in python librabry  os use Pip install pymongo
# enter the password in your URL then on next line use client hit enter
# U can change or create database Id and password in atlas in Security > Database Access tab.
# Monog db stored the unstructed data

In [5]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://vaibhalerao7:vaibhalerao7@cluster0.bbvrrr4.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.5 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 39.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
client

MongoClient(host=['ac-l3wtgqh-shard-00-00.bbvrrr4.mongodb.net:27017', 'ac-l3wtgqh-shard-00-02.bbvrrr4.mongodb.net:27017', 'ac-l3wtgqh-shard-00-01.bbvrrr4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-kqumm6-shard-0', tls=True)

# above step is completed the MONGO DB SETUP
- MongoDB is called documentbased database means you stored data in dictionary format of json format
- We need to create the Database (like sql) then we need to create collection (like table in sql) then document (

In [8]:
client = pymongo.MongoClient("mongodb+srv://vaibhalerao7:vaibhalerao7@cluster0.bbvrrr4.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [10]:
#creating database in mongodbd
db = client['pwskills']      #create DB in mongogo check the db in mongo in brose collection tab for that we need to create data as below

In [11]:
coll_create = db["my_record"]  # it create collection but it will not show in Atlas now

In [13]:
data = {"name" : "sudh",
        "class" : "data science master",
        "timing" : "flexi"
}              # This is we created documents  or json ( in python like dictionary )

In [14]:
coll_create.insert_one(data)

* # Now YOu can see your data will show in atlas after refreshing

In [15]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number" : 23456557,
         
}

In [16]:
coll_create.insert_one(data1)

In [18]:
data2 = {"list_courses" : ["data sciecne master ", "web dev", "java with DSA "],
         "menotr" : ["sudhanshu", "anurag", "hyder"]}

In [19]:
coll_create.insert_one(data2)

In [22]:
data3 =[ {"name " : "vai", "address" : "OPL st 152"},
         {"name " : "viajy", "address" : "NHK st 452"},
         {"name " : "ajay", "address" : "Iphone st 452"},
         {"name " : "pooja", "address" : "WKL st 422"},
         {"name " : "yogesh", "address" : "mLK st 42"},
         {"name " : "satish", "address" : "situs st 2"},
         {"name " : "tanuja", "address" : "Apple st 452"},
         {"name " : "neha", "address" : "Apple st 00"},
         {"name " : "abhi", "address" : "SLKst 445d"},
         {"name " : "arjun", "address" : "wipro st 452"}]

In [23]:
coll_create.insert_many(data3)

In [28]:
data4 = {
    "name" : "notebook",
    "qut" : 50,
    "rating" : [{"score" : 8}, {"score" : 9}],
    "size": {"height": 11, "width": 8.5, "unit": "in"},
    "status" : "A",
    "tags": [ "college-ruled", "perforated"]
}

In [29]:
coll_create.insert_one(data4)

In [31]:
list_of_records = [
    {'companyName' : 'iNeuron',
     'product' : 'Affordable AT',
     'courseOffered' : 'Machine Learning with deployement'},
    
    {'companyName' : 'iNeuron',
     'product' : 'Affordable AT',
     'courseOffered' : 'Deep Learning for NLP and COmputer vision'},
    
    {'companyName' : 'iNeuron',
     'product' : 'Affordable AT',
     'courseOffered' : 'Data Science Masters Program'}
]

In [32]:
coll_create.insert_many(list_of_records)

* # SHow the All Reocrds which are created in mongoDB

In [34]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64150aeecc59d6c56e5f2080'), 'name': 'sudh', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('64150c7bcc59d6c56e5f2081'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23456557}
{'_id': ObjectId('64150d2bcc59d6c56e5f2082'), 'list_courses': ['data sciecne master ', 'web dev', 'java with DSA '], 'menotr': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64150e62cc59d6c56e5f2083'), 'name ': 'vai', 'address': 'OPL st 152'}
{'_id': ObjectId('64150e62cc59d6c56e5f2084'), 'name ': 'viajy', 'address': 'NHK st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2085'), 'name ': 'ajay', 'address': 'Iphone st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2086'), 'name ': 'pooja', 'address': 'WKL st 422'}
{'_id': ObjectId('64150e62cc59d6c56e5f2087'), 'name ': 'yogesh', 'address': 'mLK st 42'}
{'_id': ObjectId('64150e62cc59d6c56e5f2088'), 'name ': 'satish', 'address': 'situs st 2'}
{'_id': ObjectId('64150e62cc59d6c56e5f2089'), 'name ': 'tanuja', 'address': 'Apple st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f208a'), 'name ': 'neha', 'address': 'Apple st 00'}
{'_id': ObjectId('64150e62cc59d6c56e5f208b'), 'name ': 'abhi', 'address': 'SLKst 445d'}
{'_id': ObjectId('64150e62cc59d6c56e5f208c'), 'name ': 'arjun', 'address': 'wipro st 452'}
{'_id': ObjectId('64150f75cc59d6c56e5f208d'), 'name': 'notebook', 'qut': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6415102fcc59d6c56e5f208e'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Machine Learning with deployement'}
{'_id': ObjectId('6415102fcc59d6c56e5f208f'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Deep Learning for NLP and COmputer vision'}
{'_id': ObjectId('6415102fcc59d6c56e5f2090'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Data Science Masters Program'}

In [37]:
random_data = [
    {'_id' : '3', 'companyName' : 'iNeuron', 'Faculty':'XYZ'},
    {'_id' : '4', 'companyName' : 'iNeuron', 'Faculty':'BAC'},
    {'_id' : '5', 'companyName' : 'iNeuron', 'Faculty':'ACD'},
    {'_id' : '6', 'companyName' : 'iNeuron', 'Faculty':'ACC'},
    {'_id' : '7', 'companyName' : 'iNeuron', 'Faculty':'VCC'} 
   ]

In [38]:
coll_create.insert_many(random_data)

In [39]:
for i in coll_create.find() :
    print(i)

{'_id': ObjectId('64150aeecc59d6c56e5f2080'), 'name': 'sudh', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('64150c7bcc59d6c56e5f2081'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23456557}
{'_id': ObjectId('64150d2bcc59d6c56e5f2082'), 'list_courses': ['data sciecne master ', 'web dev', 'java with DSA '], 'menotr': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64150e62cc59d6c56e5f2083'), 'name ': 'vai', 'address': 'OPL st 152'}
{'_id': ObjectId('64150e62cc59d6c56e5f2084'), 'name ': 'viajy', 'address': 'NHK st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2085'), 'name ': 'ajay', 'address': 'Iphone st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2086'), 'name ': 'pooja', 'address': 'WKL st 422'}
{'_id': ObjectId('64150e62cc59d6c56e5f2087'), 'name ': 'yogesh', 'address': 'mLK st 42'}
{'_id': ObjectId('64150e62cc59d6c56e5f2088'), 'name ': 'satish', 'address': 'situs st 2'}
{'_id': ObjectId('64150e62cc59d6c56e5f2089'), 'name ': 'tanuja', 'address': 'Apple st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f208a'), 'name ': 'neha', 'address': 'Apple st 00'}
{'_id': ObjectId('64150e62cc59d6c56e5f208b'), 'name ': 'abhi', 'address': 'SLKst 445d'}
{'_id': ObjectId('64150e62cc59d6c56e5f208c'), 'name ': 'arjun', 'address': 'wipro st 452'}
{'_id': ObjectId('64150f75cc59d6c56e5f208d'), 'name': 'notebook', 'qut': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6415102fcc59d6c56e5f208e'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Machine Learning with deployement'}
{'_id': ObjectId('6415102fcc59d6c56e5f208f'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Deep Learning for NLP and COmputer vision'}
{'_id': ObjectId('6415102fcc59d6c56e5f2090'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'BAC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'ACD'}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'ACC'}
{'_id': '7', 'companyName': 'iNeuron', 'Faculty': 'VCC'}

In [40]:
# if I want to show only first document in python 

coll_create.find_one()

{'_id': ObjectId('64150aeecc59d6c56e5f2080'),
 'name': 'sudh',
 'class': 'data science master',
 'timing': 'flexi'}

# if i woluld like to find company name iNeuron

In [43]:
for i in coll_create.find({'companyName' : 'iNeuron'}):
    print(i)

{'_id': ObjectId('6415102fcc59d6c56e5f208e'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Machine Learning with deployement'}
{'_id': ObjectId('6415102fcc59d6c56e5f208f'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Deep Learning for NLP and COmputer vision'}
{'_id': ObjectId('6415102fcc59d6c56e5f2090'), 'companyName': 'iNeuron', 'product': 'Affordable AT', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'BAC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'ACD'}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'ACC'}
{'_id': '7', 'companyName': 'iNeuron', 'Faculty': 'VCC'}

# IF i want to find any records Like : where Id is greater than

In [46]:
for i in coll_create.find({'_id' : {'$gte' :'4'}}):    # $gt is greater than key for mongodb
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'BAC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'ACD'}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'ACC'}
{'_id': '7', 'companyName': 'iNeuron', 'Faculty': 'VCC'}

# IF I would like to change the document records as below

In [47]:
coll_create.update_many({'companyName': 'iNeuron'}, {"$set" :{'companyName': 'PWSKILLS'}})

In [48]:
for i in coll_create.find() :
    print(i)

{'_id': ObjectId('64150aeecc59d6c56e5f2080'), 'name': 'sudh', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('64150c7bcc59d6c56e5f2081'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23456557}
{'_id': ObjectId('64150d2bcc59d6c56e5f2082'), 'list_courses': ['data sciecne master ', 'web dev', 'java with DSA '], 'menotr': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64150e62cc59d6c56e5f2083'), 'name ': 'vai', 'address': 'OPL st 152'}
{'_id': ObjectId('64150e62cc59d6c56e5f2084'), 'name ': 'viajy', 'address': 'NHK st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2085'), 'name ': 'ajay', 'address': 'Iphone st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2086'), 'name ': 'pooja', 'address': 'WKL st 422'}
{'_id': ObjectId('64150e62cc59d6c56e5f2087'), 'name ': 'yogesh', 'address': 'mLK st 42'}
{'_id': ObjectId('64150e62cc59d6c56e5f2088'), 'name ': 'satish', 'address': 'situs st 2'}
{'_id': ObjectId('64150e62cc59d6c56e5f2089'), 'name ': 'tanuja', 'address': 'Apple st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f208a'), 'name ': 'neha', 'address': 'Apple st 00'}
{'_id': ObjectId('64150e62cc59d6c56e5f208b'), 'name ': 'abhi', 'address': 'SLKst 445d'}
{'_id': ObjectId('64150e62cc59d6c56e5f208c'), 'name ': 'arjun', 'address': 'wipro st 452'}
{'_id': ObjectId('64150f75cc59d6c56e5f208d'), 'name': 'notebook', 'qut': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6415102fcc59d6c56e5f208e'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Machine Learning with deployement'}
{'_id': ObjectId('6415102fcc59d6c56e5f208f'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Deep Learning for NLP and COmputer vision'}
{'_id': ObjectId('6415102fcc59d6c56e5f2090'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'PWSKILLS', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'PWSKILLS', 'Faculty': 'BAC'}
{'_id': '5', 'companyName': 'PWSKILLS', 'Faculty': 'ACD'}
{'_id': '6', 'companyName': 'PWSKILLS', 'Faculty': 'ACC'}
{'_id': '7', 'companyName': 'PWSKILLS', 'Faculty': 'VCC'}

# IF i would like to Drop the record

In [49]:
# if I run below the it will delete the all data 

# coll_create.drop()           it will delete the all data

In [50]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64150aeecc59d6c56e5f2080'), 'name': 'sudh', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('64150c7bcc59d6c56e5f2081'), 'mail_id': 'sudh@gmail.com', 'phone_number': 23456557}
{'_id': ObjectId('64150d2bcc59d6c56e5f2082'), 'list_courses': ['data sciecne master ', 'web dev', 'java with DSA '], 'menotr': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('64150e62cc59d6c56e5f2083'), 'name ': 'vai', 'address': 'OPL st 152'}
{'_id': ObjectId('64150e62cc59d6c56e5f2084'), 'name ': 'viajy', 'address': 'NHK st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2085'), 'name ': 'ajay', 'address': 'Iphone st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f2086'), 'name ': 'pooja', 'address': 'WKL st 422'}
{'_id': ObjectId('64150e62cc59d6c56e5f2087'), 'name ': 'yogesh', 'address': 'mLK st 42'}
{'_id': ObjectId('64150e62cc59d6c56e5f2088'), 'name ': 'satish', 'address': 'situs st 2'}
{'_id': ObjectId('64150e62cc59d6c56e5f2089'), 'name ': 'tanuja', 'address': 'Apple st 452'}
{'_id': ObjectId('64150e62cc59d6c56e5f208a'), 'name ': 'neha', 'address': 'Apple st 00'}
{'_id': ObjectId('64150e62cc59d6c56e5f208b'), 'name ': 'abhi', 'address': 'SLKst 445d'}
{'_id': ObjectId('64150e62cc59d6c56e5f208c'), 'name ': 'arjun', 'address': 'wipro st 452'}
{'_id': ObjectId('64150f75cc59d6c56e5f208d'), 'name': 'notebook', 'qut': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6415102fcc59d6c56e5f208e'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Machine Learning with deployement'}
{'_id': ObjectId('6415102fcc59d6c56e5f208f'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Deep Learning for NLP and COmputer vision'}
{'_id': ObjectId('6415102fcc59d6c56e5f2090'), 'companyName': 'PWSKILLS', 'product': 'Affordable AT', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'PWSKILLS', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'PWSKILLS', 'Faculty': 'BAC'}
{'_id': '5', 'companyName': 'PWSKILLS', 'Faculty': 'ACD'}
{'_id': '6', 'companyName': 'PWSKILLS', 'Faculty': 'ACC'}
{'_id': '7', 'companyName': 'PWSKILLS', 'Faculty': 'VCC'}