## Strings &  List

In [135]:
name="Data science Master"
name.swapcase()

'dATA SCIENCE mASTER'

In [136]:
name.title()

'Data Science Master'

In [137]:
name.capitalize()  #First letter Cap then all in small case

'Data science master'

###Reversing a String

In [138]:
name[::-1]  # Reverse the String

'retsaM ecneics ataD'

In [139]:
' '.join(reversed(name))

'r e t s a M   e c n e i c s   a t a D'

In [140]:
"krish".join("Naik")   #every charater is join after name N Krish, A Krish, I krish,k Krish

'Nkrishakrishikrishk'

In [141]:
'1'.join(reversed("ant"))

't1n1a'

In [142]:
'  '.join(("ant"))

'a  n  t'

In [143]:
str1="PW isa good company"

In [144]:
'o'.join(str1)

'PoWo oiosoao ogooooodo ocooomopoaonoy'

In [145]:
## Type casting
list(reversed("ant"))

['t', 'n', 'a']

In [146]:
for i in list(reversed(name)):
    print(i,end=' ')

r e t s a M   e c n e i c s   a t a D

## Removing Character from the end of the string

In [147]:
string_a=" pw skills "

In [148]:
string_a.strip(" ")

'pw skills'

In [149]:
string_a.lstrip(" ")       # it will remove left side blank space

'pw skills '

In [150]:
string_a.rstrip(" ")      # it will remove Right side blank space

' pw skills'

In [151]:
string_n="Greeting to Pwskills"            # String are imutable mean cannot change
                                # Here we are changing WORD not character we cannot change character in string
string_n.replace("to","From")   # Here we replace create new string or replace not change

'Greeting From Pwskills'

In [152]:
string_n.replace("Greeting","Welcome")

'Welcome to Pwskills'

In [153]:
var_a=string_n.replace("e","E")

In [154]:
print(id(string_n))           # below you can see the memory is different in that
print(id(var_a))

140555409299280
140555962130048

In [155]:
'hello \twordl'.expandtabs()          # \t or expandtabs() not \t will not in output

'hello   wordl'

In [156]:
# Question 
str1="Welcome to pwskills .welcome to Dat ceince Masters"

In [157]:
str1.replace("Dat ceince","Data Science")  #

'Welcome to pwskills .welcome to Data Science Masters'

In [158]:
str1.replace("Dat","Data").replace("ceince","Science")

'Welcome to pwskills .welcome to Data Science Masters'

In [159]:
str1

'Welcome to pwskills .welcome to Dat ceince Masters'

In [160]:
str1.isupper()

False

In [161]:
str1="KRISH"
str1.isupper()

True

In [162]:
str1.islower()

False

In [163]:
str1.isspace()

False

In [164]:
' '.isspace()

True

In [165]:
if" ".isspace():
    print("Hello")

Hello

In [166]:
str2="pwskills"

In [167]:
str2.endswith('s')   # this say is s is ending then true

True

In [168]:
str2.startswith('p')

True

In [169]:
## check if All the char in string are alphanumeric

a= "abcd1234"
a.isalnum()

True

In [170]:
## To count the number of character in the Strings

In [171]:
count=0
for i in  str2:
    count=count+1
    
print(count)

8

In [172]:
len(str2)

8

In [173]:
str2

'pwskills'

In [174]:
for i in str2:
    print(i)

p
w
s
k
i
l
l
s

In [175]:
for i in range(len(str2)):
    print(str2[i])

p
w
s
k
i
l
l
s

In [176]:
for i in range(len(str2)):
    print(i,"=",str2[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [177]:
## We can use index to iterate string Reverse direction

In [178]:
for i in range(len(str2)-1,-1,-1):
    print(i,"=",str2[i])

7 = s
6 = l
5 = l
4 = i
3 = k
2 = s
1 = w
0 = p

In [179]:
for i in range(len(str2)-1,-1,-2):
    print(str2[i])

s
l
k
w

In [180]:
string="pwskills"
ch=len(string)-1

In [181]:
ch

7

In [182]:
string="pwskills"            #Reverse String 
ch=len(string)-1
while ch>=0:
    print(string[ch])
    ch=ch-1

s
l
l
i
k
s
w
p

In [183]:
string[7],string[6],string[5],string[4]

('s', 'l', 'l', 'i')

In [184]:
## Best Solution 

for i in range(len(string)):
    print(string[len(string)-(i+1)],end="")

sllikswp

In [185]:
Name ="pwskill"         # find the vowles
vowels="AaEeIiOoUu"

In [186]:
for ch in Name:
    print(ch)

p
w
s
k
i
l
l

In [187]:
for ch in Name:
    if ch in vowels:
        print("{} is a vowel".format(ch))
    else:
            print("{} i not a vowel".format(ch))

p i not a vowel
w i not a vowel
s i not a vowel
k i not a vowel
i is a vowel
l i not a vowel
l i not a vowel

## List

In [188]:
type([])

list

In [189]:
["Krish","Naik","Pwskill",32,22]

['Krish', 'Naik', 'Pwskill', 32, 22]

In [190]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [191]:
str2

'pwskills'

In [192]:
list(str2)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [193]:
str1= "PW Skills Data science Master"

In [194]:
list(str1.split(" "))         # List is Ordered collection of element

['PW', 'Skills', 'Data', 'science', 'Master']

In [195]:
lst1=str1.split(" ")

In [196]:
lst1[1:]

['Skills', 'Data', 'science', 'Master']

In [197]:
lst1[2]="Datas"        # you change the the word in list

In [198]:
lst1

['PW', 'Skills', 'Datas', 'science', 'Master']

In [199]:
lst1[-4::-2]

['Skills']

## Concatenation Operation

In [200]:
lst1

['PW', 'Skills', 'Datas', 'science', 'Master']

In [201]:
lst1 + ['new element',3]

['PW', 'Skills', 'Datas', 'science', 'Master', 'new element', 3]

In [202]:
lst2=lst1 + ['new element',3]

In [203]:
lst2[-2]

'new element'

In [204]:
lst1 * 2

['PW',
 'Skills',
 'Datas',
 'science',
 'Master',
 'PW',
 'Skills',
 'Datas',
 'science',
 'Master']

In [205]:
lst1

['PW', 'Skills', 'Datas', 'science', 'Master']

In [206]:
for element in lst1:
    print(element)
    if "science" in lst1:
        print("Present")

PW
Present
Skills
Present
Datas
Present
science
Present
Master
Present

In [207]:
 if "science" in lst1:
        print("Present")

Present

In [208]:
for element in lst1:
    if element =="science":
        print(element)
        break

science

In [209]:
## Check element inside a list 

lst=[1,2,3,4,5]
5 in lst

True

In [210]:
lst1=["Zebra","Money","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [211]:
print(max(lst1))             # ASCII Value Z is high

Zebra

In [212]:
print(min(lst2))

2

In [213]:
lst3 =[9,6,2,9,5,8,6]
type(lst3[0])     ## ooutput is Integer
type(5.0)            ## output is Float
5.0 in lst3      # Output is True

True

## Append

In [214]:
lst=[1,2,3,4,5,6,7]

In [215]:
lst.append("Pwskills")        # Append mean adding value at end

In [216]:
lst

[1, 2, 3, 4, 5, 6, 7, 'Pwskills']

In [217]:
lst.append(["Data","science","Master"])

In [218]:
lst

[1, 2, 3, 4, 5, 6, 7, 'Pwskills', ['Data', 'science', 'Master']]

In [219]:
lst1=["Zebra","Money","Donkey","Lion"]

In [220]:
lst1.pop()      # It remove the last Value or operation withou index() mean dint give what remove

'Lion'

In [221]:
lst1   # due to Pop() it remove the lion

['Zebra', 'Money', 'Donkey']

In [222]:
lst1.pop(2)    # we give pop(2) mean remove the Donkey(2)

'Donkey'

In [223]:
lst1

['Zebra', 'Money']

In [224]:
lst1=["Zebra","Money","Donkey","Lion"]

In [225]:
removed_element=lst1.pop(0)         # this is also remove to element which give value
removed_element

'Zebra'

In [226]:
lst1

['Money', 'Donkey', 'Lion']

## Sorting and Reverse Method in List

In [227]:
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [228]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [229]:
## Inplace operation mean list is update then and then

new_list.reverse()

In [230]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [231]:
## Inplace operation mean list is update then and then
new_list.sort()

In [232]:
new_list

['e', 'f', 'q', 's', 't', 'u']

In [233]:
new_list.sort(reverse=True)

In [234]:
new_list

['u', 't', 's', 'q', 'f', 'e']

In [235]:
lst=[1,2,3,4,5,6,7]
lst.append(10)

In [236]:
lst.append(['pw','skill'])     ## we added or append the these two new values

In [237]:
lst

[1, 2, 3, 4, 5, 6, 7, 10, ['pw', 'skill']]

In [238]:
lst.extend(['Data','Python'])   # Pw skill i have added two times

In [239]:
lst

[1, 2, 3, 4, 5, 6, 7, 10, ['pw', 'skill'], 'Data', 'Python']

## Nested List

In [240]:
# lets make three list

lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a Matrix
matrix = [lst_1,lst_2,lst_3]

In [241]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [242]:
matrix[1][2]

6

In [243]:
matrix[2][1:]

[8, 9]

In [247]:
# if you want 1,4,7 from above matrix 

## List Comprehension

[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [258]:
## List Comprehension
## Even Number 
[i if i%2==0 else "ODD" for i in range(0,20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [11]:
## Assigment 
## sum of even numbers and odd numbers

lst=[1,2,3,4,5,6,7,8]

even_sum = 0
odd_sum = 0
for i in lst:
    if 1 % 2==0:
        even_sum +=i
    else:
        odd_sum +=i
        
print(even_sum)
print(odd_sum)

0
36

In [14]:
lst=[1,2,3,4,5,6,7,8]        ## Ans i wrong as it wshould be 20 , 16 see below answer

even_sum = 0
odd_sum = 0
for i in lst:
    if 1 % 2==0:
        even_sum += i
    else:
        odd_sum += i        
print(even_sum)
print(odd_sum)

0
36

In [17]:
even_sum=sum([num for num in lst if num%2==0])

In [18]:
even_sum

20

In [19]:
odd_sum=sum([num for num in lst if num%2!=0])

In [20]:
odd_sum

16

In [25]:
lst=[1,2,3,4,5,6,7,8,9,10]    ## for Square **2 
[num**2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
## Example 2 : Create a list of Only the Positive number from a given list

number=[-3,-2,-1,0,1,2,3]
[num for num in number if num >0]

[1, 2, 3]

In [29]:
## Example 3 : Create a list of Only the Negative(-) number from a given list

number=[-3,-2,-1,0,1,2,3]
[num for num in number if num <0]

[-3, -2, -1]

In [30]:
## Example 4 : Create a list of only the First Letters of Words in a list

words =['aaple','banana','cheery','date']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [31]:
## COnvert Temp to *Celcicus 
# formula (9/5)*temp+32

## Example 4 : Coever a list of temperature from Celsius to Fohreheit using List comprehsnion

Celsius_temperatures=[0, 10, 20, 30, 40, 50]

In [32]:
# Answer is below
[(9/5)*temp +32 for temp in Celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [35]:
## Examples 6 : Flatten a list of lists into a signle list 

lists =[[1,2,3],[4,5,6],[7,8,9]]

In [42]:
[j for i in lists for j in i]        # list of lists into a signle list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
[num for sublist in lists for num in sublist]  #list of lists into a signle list another Way

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
## Assigment 

##using both code and list compprehesnion

# Example 7 : Create a list of only the prime numbers from a given list
numbers =[1,2,3,4,5,6,7,8,9,10]

In [47]:
print([i for i in numbers if 0 not in [i%n for n in range(2, i)]])

[1, 2, 3, 5, 7]

In [ ]:

#Example 8 : Create a list of all the possible combinations of 2 elements from a list
numbers =[1,2,3,4,5]