### Tuples

In [270]:
t=()

In [271]:
type(t)

tuple

t1=(1,2,3,4,45,45.4,45+7j,"sudh",True)

In [272]:
t1=(1,2,3,4,45,45.4,45+7j,"sudh",True)

In [273]:
type(t1)

tuple

In [274]:
I=[1,2,3,4]

In [275]:
type(I)

list

In [276]:
t1

(1, 2, 3, 4, 45, 45.4, (45+7j), 'sudh', True)

In [277]:
t1[6]

(45+7j)

In [278]:
t1= t1[::-1]  # Reverse order

In [279]:
t1

(True, 'sudh', (45+7j), 45.4, 45, 4, 3, 2, 1)

In [280]:
t1[0:3]         # This is called Slicing

(True, 'sudh', (45+7j))

In [281]:
t1.count(4)   # how many time 4 is appear in t1

1

In [282]:
t1.count("abc")

0

In [283]:
t1.index(45)   # it show where 45 in above tuples location

4

In [284]:
t1

(True, 'sudh', (45+7j), 45.4, 45, 4, 3, 2, 1)

In [285]:
t1.count(True)   # its show True as output2 because system consider 1 as TRUE as

2

In [286]:
t1.count(1)        #its show True as output2 because system consider 1 as TRUE as

2

In [287]:
I

[1, 2, 3, 4]

In [288]:
t1[0]

True

"""Tuple are basically follow Imutability Concepts Where it is not going to allow to change
element at a particular index"""

In [289]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [290]:
I

[1, 2, 3, 4]

In [291]:
I[0]

1

In [292]:
I[0]=100

In [293]:
I

[100, 2, 3, 4]

In [294]:
t1

(True, 'sudh', (45+7j), 45.4, 45, 4, 3, 2, 1)

In [295]:
for i in t1:
    print(i)

True
sudh
(45+7j)
45.4
45
4
3
2
1

In [296]:
for i in t1:          #it will show data type
    print(i, type(i))

True <class 'bool'>
sudh <class 'str'>
(45+7j) <class 'complex'>
45.4 <class 'float'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [297]:
t2 = (1,2,3,3,4)

In [298]:
t2

(1, 2, 3, 3, 4)

In [299]:
t2 * 3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [300]:
max(t2)

4

In [301]:
min(t2)

1

In [302]:
t1 = (1,2,32,4)      ## Tuples inside tuples
t2 = (4,5,6,7,8)

In [303]:
t3 = (t1,t2)

In [304]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [305]:
t4= ((1,2,3,4,5,6),[1,2,3,45,6,88])

In [306]:
del t3              # this del can delete t3

In [307]:
t3         #after that t3 are deleted

NameError: name 't3' is not defined

In [308]:
t1

(1, 2, 32, 4)

In [309]:
len(t1)          # Lengh of t1

4

In [310]:
t1

(1, 2, 32, 4)

In [311]:
"sudh" in t1    # where can find any value is present or not in tuples.

False

In [312]:
2 in t1              # We can find any value is present or not in tuples.

True

### SET

In [313]:
##list = [ ]
##tuple = ( )
##dic = s{ }
##Set = s {1}


## Set alwasy keep only unique values in output mean it will delete duplicate values in output

In [314]:
s = { }

In [315]:
type(s)

dict

In [316]:
s1 = {1,2,3,45,6}

In [317]:
type(s1)

set

In [318]:
s2 = {1,1,12,3,3,3,4,5,5,5,55,523,34,3,45,6,67}

In [319]:
s2          # SEt is alwasy remove duplicate values and show only one in result

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [320]:
## Set convert into List

list(s2)

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [321]:
## Set convert into Tuples
tuple(s2)

(1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55)

In [322]:
l=list(s2)

In [323]:
l

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [324]:
set(l)          # list convert into set

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [325]:
s4 = {1,2,3,4,[1,2,3,4]}      # it does not allow list into set

TypeError: unhashable type: 'list'

In [326]:
s5 = {1,2,3,4,(1,2,3,4)}        # it allows set into tuples

In [327]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [328]:
s6 = {"sudh","SUDH", 2,3,4,5}

In [329]:
s6           # Python is Case sensitive that why its keep both sudh and SUDH

{2, 3, 4, 5, 'SUDH', 'sudh'}

In [330]:
s7 = {"sudh","sudh", 2,3,4,5}

In [331]:
s7[0]     ## Set object is not do indexing

TypeError: 'set' object is not subscriptable

In [332]:
s7[::-1]         # Reverse it not done in set operation

TypeError: 'set' object is not subscriptable

In [333]:
s7     ## with the help of for loop you can subtrack the value in set

{2, 3, 4, 5, 'sudh'}

In [334]:
for i in s7:
    print(i)

2
3
4
5
sudh

In [335]:
s7.add(12)        # Set can allow to add values

In [336]:
s7

{12, 2, 3, 4, 5, 'sudh'}

In [337]:
len(s7)

6

In [338]:
s7.pop()      # it will delete lower value

2

In [339]:
s7.pop()     # it will delete lower value

3

In [340]:
s7.pop()

4

In [341]:
s7

{12, 5, 'sudh'}

In [342]:
s7.clear()        # it will clear all the element or delete all the value

In [343]:
s7

set()

In [344]:
s8= {1,2,3,6}
s9= {1,2,3,4}

In [345]:
s8.difference(s9)

{6}

In [346]:
s9.difference(s8)

{4}

### DICTIONARY

In [347]:
 d = {}

In [348]:
type(d)

dict

In [349]:
d1 = {"name" : "Sudh", "email_id" : "ss@gmail.com", "number": 123456789}

In [350]:
type(d1)

dict

In [351]:
d1       # Key : value , key : value , key : value

{'name': 'Sudh', 'email_id': 'ss@gmail.com', 'number': 123456789}

In [352]:
d2 = {"name" : "Sudh" , " name " : "sudhanshu"}

In [353]:
d2       # key cannot be duplicate

{'name': 'Sudh', ' name ': 'sudhanshu'}

In [354]:
d3 = { 234234 : "abc"}

In [355]:
d3

{234234: 'abc'}

In [356]:
d4 = {234.45 : "abl"}

In [357]:
d5 ={True : " ABE"}

In [358]:
# in DIC Key can be boolen, string, float, integer

In [359]:
d6 = { # : "abc"}         #Key cannot be special charater

SyntaxError: incomplete input (3632194232.py, line 1)

In [ ]:
d7 = {@ : "abce"}        #Key cannot be special charater but you can od in " @"

In [ ]:
d8 = {[1,2,3] : "ABC"}          #list cannot be as KEY

In [ ]:
d9 = {(1,2,3) : "ABC"}          #Tuples can be Key it will work

In [ ]:
d9

In [ ]:
d10 = {{1,2,3,4} : "ABC"}     #Set cannot be Key in Dic

In [ ]:
d11 = {{"key":234}: "abce"}

In [ ]:
d12 = {"course_name": ["data science", "web dec" , "java with sda" ]}

In [ ]:
d12

In [ ]:
d13 = { " key" : (1,2,3,4,5)}   # Value can be Tuples

In [ ]:
d14 = {"key" : {1,2,3,4}}      # Value can be Set, list

In [ ]:
d15 = {"key": {"name" : "sudhanshu", " class" : "DSM"}}

In [ ]:
d15       # Value can be dic  mean dic in dic its called nested dictionary

In [ ]:
d16 = {"batch_name" : ["data science master", "web dev", " JDS"], "start_date":(28,14,21), "mentor_name" :{ "Krish Naik", "Sudhanshu", "hitesh", "Naveen", "Haider"}}

In [ ]:
d16

In [ ]:
## Can you add new key andvalue in above dic

d16["timing"]= (8,8,8,)

In [ ]:
d16

In [ ]:
# can you please extract the particular data from dic
# key is behave like index

d16["batch_name"]

In [ ]:
d16["mentor_name"]

In [ ]:
d16["key"]            # if you find invalide value or key in dic

In [ ]:
d16["name"]= "vaibhav"

In [ ]:
d16

In [ ]:
d16["name"].upper()

In [ ]:
d15

In [ ]:
d15["key"]

In [ ]:
type(d15["key"])

In [ ]:
d15['key'][' class']

In [ ]:
d15

In [ ]:
d15["key1"]="AVC"

In [ ]:
d15

In [ ]:
# delete or not key1

del d15["key1"]

In [ ]:
d15

In [ ]:
d15.clear()     ## it will clear all the dic

In [ ]:
d15

In [ ]:
len(d16)

In [ ]:
d16

In [ ]:
# Can you extract all the key from dic using kyes function

d16.keys()

In [ ]:
d16.values()     # extracted all the values from dic

In [ ]:
## Do convert values into list 

list(d16.values())

In [ ]:
list(d16.keys())    ## Converted all keys into Lists

In [ ]:
# Try to extract Key and values into list both one time

d16.items()

In [ ]:
list(d16.items())

In [ ]:
d16

In [ ]:
# Please make REplica of d16 dic
# this is deep copy and resver new space and copy the data if you do change it will not effect in new copied data

d17 = d16.copy()

In [ ]:
d17

In [ ]:
del d16['name']

In [ ]:
d18 = d16        # create REplica of d16 dic This will not create new memoer or space

In [ ]:
d18

In [ ]:
d16.pop('timing')         # it will delete the timing key

In [ ]:
d16

In [ ]:
d.fromkeys((1,2,3),('a','b','v'))

In [ ]:
d19 = {"key1": "value", "key2": "value2" }
d20  = {"key3": "value3", "key4": "value4" }

In [ ]:
(d19,d20)      # dic inside tuple it allowed

In [ ]:
d19.update(d20)

In [ ]:
d19

In [ ]:
d20.update(d19)

In [ ]:
d20

In [ ]:
d20.get("sudh")      # get function not show error like d20["sudh"]

In [ ]:
d20.get("key3")         # d20["key3"] are same things

In [ ]:
d20["key3"]

In [ ]:
d20["sudh"]      # d20.get("sudh") doesnot show error

### Dictionary Comprehensions

In [ ]:
{ i : i**2  for i in range(1,11) }

In [ ]:
list(range(1,11))

In [ ]:
{ i : i+10  for i in range(1,11) }

In [ ]:
# Try to generate key to arthmatic
import math
{ i :math.log10(i) for i in range(1,11)}

In [ ]:
# Try to generate key to arthmatic
import math
d21 ={ i :math.log10(i) for i in range(1,11)}

In [ ]:
d16

In [ ]:
#find batch_name in d16   True mean it is if false mean it is no available

'batch_name' in d16

In [ ]:
d21

In [ ]:
## Extract even or odd number for d21

In [ ]:
d21.keys()

In [ ]:
# find the EVEN Number for d21

for i in d21.keys():
    if i % 2 == 0 :  # tring to dividing 1/2 reminder 1
        print(d21[i])