## Function

In [2]:
print("this is prg")

this is prg

In [3]:
l = [1,2,3,4,5,6]

In [5]:
len(l)

6

In [6]:
def test():            # test can any name which you want. it will show error if you not even values

SyntaxError: incomplete input (998402543.py, line 1)

In [7]:
def test():      # becasue of pass def will work
    pass

In [12]:
def test1():  
    print("this is my first function")

In [14]:
test1()

this is my first function

In [15]:
test1() + "vaibhav"           #No this operation will perform with string test1() is none type and vaibhavis string
                               # Print function is always None Type

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [16]:
def test2():
    return "This is my fun with return"         # this otp will is String

In [17]:
test2()        #becasue of return not test2 fuction is become String
                # so alwasy use return insted of Print in Function

'This is my fun with return'

In [18]:
def test3():
    return 1,4,"pwskills",36.56

In [20]:
test3()           # you will get multi outcome from function

(1, 4, 'pwskills', 36.56)

In [21]:
a =1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [24]:
a,b,c,d = 1,2,34.56,True

In [25]:
a

1

In [26]:
d

True

In [27]:
c

34.56

In [29]:
# multiple data type in function  # its will OPT alway show in tuples

test3()

(1, 4, 'pwskills', 36.56)

In [32]:
type (test3()[1])        # Return always give original data type in function

int

In [33]:
a,b,c,d = test3()        # you can assign values to function with match count

In [34]:
b

4

In [39]:
def test4():               # You can add any login in that function 
    a = 3 * 4 + 5
    return a

In [38]:
test4()

17

In [40]:
def test5(a,b):             # whatever def fun is should you have to enter any number of return
    c= a + b
    return c

In [46]:
test5(5,6)               # you can enter any number or anything insted of a,b

11

In [47]:
test5("vai","bhav")      # you can add string even

'vaibhav'

In [48]:
test5([1,2,3,4],[4,5,6,7,8])       # you can add list

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [49]:
test5( b = " sudh" , a = "kumar")         # you can assign the values

'kumar sudh'

In [3]:
L = [1,2,3,4, "sudh", "pwskills", [1,2,3,34,45]]

In [51]:
# we have assing list 
# Create a function which will take list as input and give me a final list with all the nummeric values

In [1]:
def test6(a):
    n = []
    for i in a :
        if type(i)==int or type(i)== float:
            n.append(i)
    return n

In [4]:
test6(L)

[1, 2, 3, 4]

# if List is inside List with int and if you need to extract that int from that list

In [6]:
L

[1, 2, 3, 4, 'sudh', 'pwskills', [1, 2, 3, 34, 45]]

In [11]:
def test7(a):
    n =[]
    for i in a :
        if type(i)==list:
            for j in i :
                if type(j) == int or type (j)== float:
                    n.append(j)
        else :
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [12]:
test7(L)

[1, 2, 3, 4, 1, 2, 3, 34, 45]

# Function Part 2

In [14]:
def test(a,b,c,d,e):
    pass

In [15]:
test(1,2,3,4,5)

In [17]:
test(1,2,3,4,5,6,7)       # in fun you given 5 abcde but in given value are tyring 7

TypeError: test() takes 5 positional arguments but 7 were given

In [19]:
def test1(*args):
    return args

In [20]:
test1(2)

(2,)

In [21]:
test1(2,3,4,5,5)

(2, 3, 4, 5, 5)

In [23]:
test1("sudh",[1,2,34,5],(1,23,45,45)) # you can add eny type of Agrument (*args) you can add any name insted of args

('sudh', [1, 2, 34, 5], (1, 23, 45, 45))

In [24]:
def test2(*vaibh):
    return vaibh

In [25]:
test2(4,56,65,4)

(4, 56, 65, 4)

In [28]:
def test3(*args, a):
    return args,a

In [29]:
test3(3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [32]:
test3(4,5,6,7, a = "bhav")

((4, 5, 6, 7), 'bhav')

In [34]:
def test4(*args):
    L =[]
    for i in args:
        if type(i) == list:
            L.append(i)
            
    return L

In [37]:
test4(1,2,3, [9,8,7,6],(4,5),"sudh", ['v','b','n','m'])

[[9, 8, 7, 6], ['v', 'b', 'n', 'm']]

In [38]:
## if you n number input in the form of  key and value

In [43]:
def test5(**kwargs):
    return kwargs

In [44]:
test5()

{}

In [45]:
type(test5())

dict

In [46]:
test5(a=32, b=44, c =[1,23,45],d= ("sudh"," pwskill"))

{'a': 32, 'b': 44, 'c': [1, 23, 45], 'd': ('sudh', ' pwskill')}

In [47]:
# you will able to extract the any data from above list

In [48]:
def test6 (**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [51]:
test6(a=32, b=44, c =[1,23,45],d= ("sudh"," pwskill"))

('c', [1, 23, 45])

In [52]:
# below is mean this function Can take N number of Argument and N number of Key's and values at same time.

def test7(*args, **kwargs):
    return args, kwargs

In [54]:
test7(2,3,4,5, a =34, b=94)      # it give tuples and dic in output

((2, 3, 4, 5), {'a': 34, 'b': 94})

## Generator Function

In [1]:
range(1,10)

range(1, 10)

In [4]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
L=[1,2,3,4,5,6,7,"sudh","pwskills"]

In [6]:
def test1(a):
    n =[]
    for i in a :
        if type(i) == int :
            n.append(i)
    return n

In [8]:
test1(L)

[1, 2, 3, 4, 5, 6, 7]

In [9]:
##Fibonacci : its add two previous number then get number

0,1,1,2,3,5,8,13,21,34

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [11]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b = b,a+b

In [12]:
test_fib(10)        # for output of fib you  have to use for loop

In [13]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34