In [1]:
l =[1,2,3,4,45,5]

In [5]:
## Square of abvoe number or any given list

def test(l):
    l1 =[]
    for i in l:
        l1.append(i**2)
    return l1

In [6]:
test(l)       # Line 6, 20 and 21 are output are same with dif step

[1, 4, 9, 16, 2025, 25]

### Map Function

In [16]:
l =[1,2,3,4,45,50]

In [9]:
def sq(x):
    return x**2

In [20]:
list(map(sq, l))  # Line 6, 20 and 19 are output are same with dif step

[1, 4, 9, 16, 2025, 2500]

In [21]:
list(map(lambda x : x**2, l))      # Line 6, 17 and 21 are output are same with dif step

[1, 4, 9, 16, 2025, 2500]

In [22]:
list(map(lambda x : x+10, l))

[11, 12, 13, 14, 55, 60]

In [23]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [24]:
list(map(lambda x,y : x+y, l1,l2))

[7, 9, 11, 13, 15]

In [26]:
## you can assing varible to Lambda function 

F = lambda x,y : x+y
list(map(F,l1,l2))

[7, 9, 11, 13, 15]

In [27]:
s ="pwskills"

In [28]:
list(map(lambda x : x.upper(), s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [29]:
### Reduce : it will not avaible in python so you need to import functools

In [30]:
from functools import reduce

In [33]:
L=[1,2,3,4,5,4]

In [35]:
#  1 2 3 4 5 4 element 1=x 2=y x+y=3 like this

In [34]:
reduce(lambda x,y : x+y,L)

19

In [39]:
## we can use add function and reduce to get result

In [36]:
def add(x,y):
    return x+y

In [38]:
reduce(add, L)

19

In [42]:
reduce(lambda x,y,z : x+y+z,L)  # one value is missing for z for adding

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [44]:
reduce(lambda x,y : x+y, [])   # it will not take empty list

TypeError: reduce() of empty iterable with no initial value

In [46]:
# in exception case reduce can take one valuse in list and perform

In [45]:
reduce(lambda x,y : x+y,[1])

1

In [48]:
# show the highest valuse from given list 

reduce(lambda x,y :x if x>y else y,L)

5

### Filter Function

In [49]:
M =[1,2,3,4,5,4,9,8,7,11]

In [50]:
filter(lambda x : x% 2 ==0, M)

In [51]:
# above filter  we didnt get opt then we have add list function for opt EVEN number from List

In [52]:
list(filter(lambda x : x% 2 ==0, M) )

[2, 4, 4, 8]

In [54]:
#For Odd Number from List
list(filter(lambda x : x% 2 !=0, M) )

[1, 3, 5, 9, 7, 11]

In [57]:
# Give the only Positive  number from below lIST
L1=[-2,4,5,6,-3,-6,-7]

list(filter(lambda x : x <0, L1 ))

[-2, -3, -6, -7]

In [58]:
# Give the only negative  number from below lIST

list(filter(lambda x : x >0, L1))

[4, 5, 6]

In [63]:
# Please extract from below whos lengh it less than 6

L2= ["sudh", "pwskill","kumar","Pune", "vaibhav"]

list(filter(lambda x : len(x) < 6 , L2))

['sudh', 'kumar', 'Pune']