In [3]:
a=10

In [4]:
a='c'

In [5]:
type(a)

str

In [6]:
int('123')

123

In [7]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [8]:
print("hello world")

hello world

In [9]:
Print(123)

NameError: name 'Print' is not defined

In [10]:
print(123)

123

In [11]:
print('hello world')

hello world

In [24]:
age=32
print("My age is:",age)

My age is: 32

In [25]:
print(f"My age is: (age)")

My age is: (age)

In [26]:
## f string ## output should be My age is : 32 but something iswrong here getting age 
print(f"My age is :(age)")

My age is :(age)

In [27]:
##fomrat() 
name="krish"
age-32
print("My name is {} and age is {}".format(name,age))

My name is krish and age is 32

In [28]:
print("My name is {} and age is {}".format(age,name))

My name is 32 and age is krish

In [32]:
#placeholder

print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is krish and age is 32

In [33]:
name="vaibhav"
age=28
degree="BSC"


" MY age is 38 and I have completed: my degree of BSC with the name of vaibhav"

' MY age is 38 and I have completed: my degree of BSC with the name of vaibhav'

In [36]:
name="vaibhav"
age=28
degree="BSC"

print(f"My age is {age} and I have completed: my degree {degree} with the name of {name}")

My age is 28 and I have completed: my degree BSC with the name of vaibhav

## contorl Flow
### Decision Making Statement
*It is kind of making decision during occurred situationf of program execution and can be taken 
according to specified condition
*Structure of decision making evaluate several expression that provide True of false as a result
*It is up to you to  decide which type of action want to take and execute that statement based upon True and
Flase

** These are several topic ofdecion making which going to be disscussed below:**

1.**if**
2.**if else**
3.**if elif else**
4. **Nested if**
5.**single Statement suites**

## IF Statement  ==, >=,<=

In [44]:
## If statment
age=18
if age >=18:
    print("You are eligible to vote")

You are eligible to vote

In [47]:
## If statment
age=17
if age <18:
    print("You are not eligible to vote")

You are not eligible to vote

In [48]:
18<=18

True

In [49]:
input()

 vaibhav

'vaibhav'

In [51]:
name=input(" enter the name")  # Input is String

 enter the name vaibav

In [52]:
## to convert String to Int for Input
age=int(input("enter your age"))

enter your age 32

In [53]:
type(age)

int

In [54]:
## Taske 
## take a input of age
## check wether is age >=18 and age <= 45
## display a message you are young bloood

In [61]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter the age 22

you are young blood

### if Else ###

In [63]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("Thank you your applicaiton is rejected")

Enter the age 55

Thank you your applicaiton is rejected

In [64]:
##Task 2
## Mall - Sale discount like valentine day or repulic day
##input the product price
## Any Product > 1000 rs 20 % off
## print the product price after removing the discount
## product =100 rs 30 % off
## print the product price after removing the discount

In [68]:
Product_price=int(input("enter the price"))
if Product_price>1000:
    print("The price of the product is {}".format(Product_price*0.8))
else:
          print("The price of the product is {}".format(Product_price*0.7))

enter the price 5000

The price of the product is 4000.0

In [70]:
int((20/100)*5000)

1000

In [71]:
## in above example inf f string
Product_price=int(input("enter the price"))
if Product_price>1000:
    print(f"The price of the product is {Product_price*0.8}")
else:
          print("The price of the product is {}".format(Product_price*0.7))

enter the price 2000

The price of the product is 1600.0

In [72]:
##Task 3
## Mall -input the product price
## Product > 3000 rs 20 % off
## print the product price after removing the discount
## Product >= 2000 rs  and <=3000 30 % off
## print the product price after removing the discount
## product <=1000 rs and <=2000 40 % off
## print the product price after removing the discount

In [75]:
Product_price=int(input("enter the price"))
if Product_price>3000:
    print(f"The price of the product is {Product_price*0.8}")
elif Product_price>=2000 and Product_price<=3000:
    print(f"The price of the product is {Product_price*0.7}")
else:
          print("The price of the product is {}".format(Product_price*0.6))

enter the price 2500

The price of the product is 1750.0

In [76]:
Product_price=int(input("enter the price"))
if Product_price>3000:
    print(f"The price of the product is {Product_price*0.8}")
elif Product_price>=2000 and Product_price<=3000:
    print(f"The price of the product is {Product_price*0.7}")
elif Product_price>=100 and Product_price<=2000:
    print(f"The price of the product is {Product_price*0.6}")
else:
          print("Let Drink Tea")

enter the price 55

Let Drink Tea

### Nested IF ###

In [77]:
##Task 4
## Mall -input the product price
## Product > 3000 rs 20 % off
## print the product price after removing the discount
## Product >= 2000 rs  and <=3000 30 % off
## print the product price after removing the discount
## Price ==2999 you will get additional gift
## product <=1000 rs and <=2000 40 % off
## print the product price after removing the discount

In [91]:
Product_price=int(input("enter the price"))
if Product_price>3000:
    if Product_price ==4000:
        print("congratulations you get Goa Trip")
    print(f"The price of the product is {Product_price*0.8}")
elif Product_price>=2000 and Product_price<=3000:
    if Product_price ==2999:
        print("Congratulation you get and additional gift")
    print(f"The price of the product is {Product_price*0.7}")
elif Product_price>=100 and Product_price<2000:
    print(f"The price of the product is {Product_price*0.6}")
else:
        print("Let Drink Tea")
        print("I will be also there")

enter the price 55

Let Drink Tea
I will be also there

In [84]:
#comparision operator
True ==True

True

## SIngle Statemenet##

In [96]:
## single statement
val=int(input('Enter the number'))
if (val<=999):print("value is less than equal to 999")
else:
     print("Go home")

Enter the number 1000

Go home

### Loops Statement
1. While Loop
2. For Loop
3. Nested loop
4. Loop control(Break, continue,pass)

In [106]:
## while Loop
joining_age =25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [107]:
# While Loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age) 
    joining_age=joining_age+1
    
else:
    print("its time for Retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for Retirement

In [112]:
### ATM Machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
     print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## FOR LOOP ##

In [5]:
lst=["krish",1,2,3,4,"apple","banana"]

In [6]:
type(lst)

list

In [13]:
lst[1]

1

In [14]:
lst

['krish', 1, 2, 3, 4, 'apple', 'banana']

In [15]:
for x in lst:
    print(x)

krish
1
2
3
4
apple
banana

In [22]:
fruits_list = ["Mango","cherry","Apple","papaya","Banana"]

In [26]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("The fruit is cherry")

Mango
cherry
The fruit is cherry
Apple
papaya
Banana

In [27]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("The fruit is cherry")
        break

Mango
cherry
The fruit is cherry

In [29]:
fruit ="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [30]:
fruit ="mango"
for x in fruit:
    print(x,end='')

mango

In [31]:
fruit[2]

'n'

### Nested Loops

In [32]:
n=7

In [34]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [35]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [36]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [48]:
 ## Nested Loops
n=7
    
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
# Assignment to create like below  *
     *
    * *
   * * * 
  * * * *
 * * * * * 
* * * * * *

In [80]:
# Function to demonstrate printing pattern triangle
n=5

for i in range(0, n):
    for j in range(0,n-1):
            print(end=" ")
            
            for j in range(0,i-1):
                print("*",end= " ")
    print("\r")

 *  *  *  *
 * *  * *  * *  * *
 * * *  * * *  * * *  * * *

## Loop Controls 

## Break and continue

In [ ]:
# Break: when Apple come then it will replace with new value then break the operation

In [49]:
fruits_list = ["Mango","cherry","Apple","papaya","Banana"]

In [52]:
for i in fruits_list:
    if i== "Apple":
        print("the Fruite is appple")
        break
    print(i)

Mango
cherry
the Fruite is appple

In [ ]:
# Pass : it will not skip the Apple nanme and then continue

In [53]:
for i in fruits_list:
    if i== "Apple":
        print("the Fruite is appple")
        pass
    print(i)

Mango
cherry
the Fruite is appple
Apple
papaya
Banana

In [ ]:
# continue : it will Skip the Apple nanme and then continue

In [54]:
for i in fruits_list:
    if i== "Apple":
        print("the Fruite is appple")
        continue
    print(i)

Mango
cherry
the Fruite is appple
papaya
Banana

## Test pratice

In [81]:
num1=23
num2=44
num2=2+3j
num1=num2.imag
num2-num1

(-1+3j)

In [82]:
int('pwskills')+1

ValueError: invalid literal for int() with base 10: 'pwskills'

In [83]:
nt('pwskills')+int(1)

NameError: name 'nt' is not defined

In [84]:
'pwskills'+1

TypeError: can only concatenate str (not "int") to str

In [86]:
Name='pwskills'
Name[0]='P'

TypeError: 'str' object does not support item assignment

In [87]:
'pwskills'.upper().lower().isalnum()

True