### 16 Feb_AssQ

## MySql

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

    A  Database is a colleciton of data that is organized in a structed way allowing for efficient storage, retrival and managment of data. Database can be used to store and manage various types of  data such as Financial records, customer Information , inventory or any other Structued Data.
     SQL and NoSQL are two different types of databases, each with its own strenghts and weaknesses.
    
* SQL (Strucuted Query language) databases are relational databases that store data in tables wit h predefined chemas. These databses use SQL as their standard query language to manage and retrive data. SQL database are idel for handling structured data. Which is data that is easily organized into rows and columns. Some Example of SQL database include MYSQL, PostgreSQL and Oracle.

* NoSQL Database, on the other hand, are non-relational databases that store data in a varity of different wasy such as key-values pairs, document-Oriented databases. Graph databases, and column-Oriented database. 
    Unlike SQL Database  NoSQL database do not have a predefined shcema, making it easier to store and manage unstructured data. NoSQL databases are typically more scalable and can handle large amounts of data more efficiently that SQL databases. Some Example of NoSQL database include MongoDB, Cassandra and Redis.
    
       The Choice between SQL and NoSQL database largely depends on the specific requirements of the application. SQL database are best suited for application that requires high consistency and transactional integrity. While NoSQL database are better suited for applicaiton that require high scalability. Performance and flexibility in handling Unstructured Data.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL Stands for Data Definition Language and is a subset of SQL that is used to define the structure andschema of a database. DDL commands are used to Create, Modify and Delete databse objects such as tables , Indexes , View and Stored procedures.

* Here are some commomn DDL commands and their Uses:

1) Create : 
        The Create Command is used to create a new Database object such as a Table, Index, or View. For Example the following command create a new table named "Customer" with columns for customer ID, name and email.

In [ ]:
CREATE TABLE Customers(
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(30)
);

2) DROP :
    
    The DROP command is used to remove a database object such as table or view, For Example the following commnad drops the "customers" Table.

In [ ]:
DROP TABLE customers;

3) ALTER TABLE :
        The ALTER Command is used to modify the structure of an existing databse object such as a table or view, 
        For example , The following command adds a new column to the "customer" table.

In [ ]:
ALTER TABLE customers ADD address VARCHAR(100);

4) TRUNCATE :
        The TRUNCATE Command is used to remove all data from a table, But keep the table structure intact. This is often Used when you want to delete all data from a table quickly. 
        For Example , the following command truncates the "Customers" table.

In [ ]:
TRUNCATE TABLE Customers;

In summary, DDL Commands are Used to defined the structure of the database and the object within It. CREATE is used to create new object, ALTER is sued to modify existing objects and TRUNCATE is used to remove all data from a table while keeping its structe intact.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an examp

* DML Stands for DATA MANUPULATION LANGUAGE and is a subset of SQL that is used to amange data within a database.
    DML command are used to insert , Update and Delete data within database tables.
    
    Here Are some common DML Commands and their uses:
    1) Insert : 
        The Insert command is sued to add new rows of data into a table. For Example

In [ ]:
ISNERT INTO customers (customer_id, name, email) VALUES(17,"Vaibhav", 'vaib@gmail.com')

2) UPDATE : 
    udate Command is used to modify existing data within a table.
    Example :

In [ ]:
UPDATE customer SET email ='vaib@gmail.com' Where Customer_id= 17

3) DELETE : 
    The Delete command is Used to remvoe rows of data from a table.

In [ ]:
DELETE FROM CUSTOMER WHERE customer_id =1;

## Q4 - What is DQL? Explain SELECT with an example


DQL stands for Data Query Language and is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a database. DQL commands are used to select data from one or more database tables.

The most common DQL command is SELECT. The SELECT command is used to retrieve data from one or more tables and is often used with other commands such as WHERE, GROUP BY, and ORDER BY to filter, aggregate, and sort the results.

Here's an example of a SELECT statement

In [ ]:
SELECT name, email FROM customers WHERE age > 30 ORDER BY name;

This command retrieves the name and email columns from the "customers" table, but only for customers whose age is greater than 30. The results are sorted by the customer name in ascending order.

Let's break down this command:

The SELECT keyword specifies the columns to be retrieved (name and email). The FROM keyword specifies the table to retrieve the data from (customers). The WHERE clause filters the results based on a condition (age > 30). The ORDER BY clause sorts the results based on a column (name) in ascending order. The result of this command would be a table that includes only the name and email columns for customers whose age is greater than 30, sorted by name.

In summary, DQL commands are used to retrieve data from a database table. SELECT is the most common DQL command and is used to retrieve one or more columns of data from one or more tables, with the option to filter, aggregate, and sort the results using other commands.

### Q5  Explain Primary Key and Foreign Key



In a relational database, a primary key is a unique identifier for a record in a table. A primary key can be a single column or a combination of columns in a table and it serves as a reference to a specific record in the table. The primary key constraint ensures that no two records in the table have the same key values.

A foreign key, on the other hand, is a column or set of columns in one table that refers to the primary key in another table. It establishes a link between two tables based on a common field, enabling data to be associated between the two tables. A foreign key constraint ensures that the data in the referencing column of the table exists in the referenced column of another table.

Here's an example to illustrate the concept of primary and foreign keys:

Let's say we have two tables - a customers table and an orders table. Each record in the orders table is associated with a specific customer in the customers table. To link the two tables, we can create a foreign key column in the orders table that references the primary key column in the customers table.

The primary key column in the customers table could be the customer ID column, which would be a unique identifier for each customer. The foreign key column in the orders table could be the customer ID column as well, which would reference the customer ID column in the customers table.

The relationship between the two tables is established when the foreign key in the orders table is created as a reference to the primary key in the customers table. This enables us to associate each order with a specific customer, making it easy to retrieve information about the orders for a particular customer.

In summary, a primary key is a unique identifier for a record in a table, while a foreign key is a column in one table that refers to the primary key in another table. The use of primary and foreign keys enables the creation of relationships between tables in a relational database.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect Python to MySQL, you need to use a library called mysql-connector-python. Here's an example of how to connect Python to a MySQL database and use the cursor() and execute() methods:

In [ ]:
import mysql.connector

# create a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# use the execute() method to run a SQL query
mycursor.execute("SELECT * FROM customers")

# use the fetchall() method to retrieve the query results
myresult = mycursor.fetchall()

# iterate over the results and print each row
for row in myresult:
  print(row)

In this example, we first import the mysql.connector library and create a connection to the MySQL database using the connect() method, specifying the host, user, password, and database.

We then create a cursor object using the cursor() method. The cursor is used to execute SQL queries and retrieve the results.

Next, we use the execute() method to run a SELECT query on the "customers" table, which retrieves all the records from the table. The execute() method takes a SQL query as a parameter.

After executing the query, we use the fetchall() method to retrieve the results of the query. The fetchall() method returns all the rows in the result set as a list of tuples.

Finally, we iterate over the results and print each row. The result is a table of all the customer records in the "customers" table.

In summary, the cursor() method creates a cursor object that is used to execute SQL queries and retrieve results, while the execute() method is used to run a SQL query on the database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of clauses is as follows:

FROM clause - specifies the table or tables from which data is being queried.

WHERE clause - filters the data by applying a condition to the columns in the selected table(s).

GROUP BY clause - groups the data by one or more columns.

HAVING clause - filters the data based on a condition applied to the result of the GROUP BY clause.

SELECT clause - selects the columns to be displayed in the query result.

ORDER BY clause - sorts the result set by one or more columns.

LIMIT/OFFSET clause - limits the number of rows returned and/or specifies an offset for the start of the result set.

It is important to note that not all of these clauses are required in every SQL query. The minimum required clauses for a basic SQL query are the SELECT and FROM clauses. However, for more complex queries that involve filtering and sorting, the WHERE, GROUP BY, HAVING, and ORDER BY clauses may also be necessary.

The order of the clauses is important to ensure that the query is executed correctly and returns the expected result. For example, if the SELECT clause is placed before the FROM clause, the query will not work as intended because it will not know which table to select the data from